</div>
<!-- close container -->
  <footer>
    <div class="container row">
      <div class="col-xs-12 col-md-8 col-lg-7">
          <span>© 2023 {{ site.longname }}</span>
          <p>{{ site.description }}</p>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-offset-1">
          <span class="discreet">This site is open source. <a href="https://github.com/megagustav/nux">Improve this page</a>.</span>
        </div>
      </div>
    </div>
    <!-- <script src="{{ "/assets/js/scripts.js" | relative_url }}"></script> -->
  </footer>