/* resets */

* {
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  padding-inline-start: unset;
  transition: $time-sm ease-in-out;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  font-weight: $weight-400;
  font-size: $text-sm;
  line-height: $leading-md;
  font-smooth: auto;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  color: $grey900;
  font-display: swap;
  -webkit-text-size-adjust: 100%;
}

html {
  background: $theme800;
}

body {
  padding-top: $dist-xxl;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $background;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

body > .gradient {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: 
  radial-gradient(at 0 0, rgba(desaturate($theme800, 1), 0.1) 0%, rgba($background, 0.1) 50%, rgba($background, 0.01) 100%);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  pointer-events: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.container.header {
  width: 100%;
}

.container.nav {
  width: 100%;
}

*:hover {
  transition: $time-sm ease-in-out;
}

/* typography */

h1 {
  font-size: $text-lg - $text-xxs;
  font-weight: $weight-300;
  color: $theme800;
  line-height: $leading-sm;
}

h1.post-title {
  font-size: $text-lg - $text-xs;
}

h2 {
  font-size: $text-md;
  font-weight: $weight-400;
  color: $theme700;
  margin-bottom: $dist-xs;
}

h3:first-of-type {
  margin-bottom: $dist-md;
}

h3,
h4 {
  font-size: $text-md;
  font-weight: $weight-400;
  margin-top: $dist-lg;
  margin-bottom: $dist-xxs;
}

h4,
h5 {
  color: $grey600;
}

h5 {
  font-size: $text-sm;
  font-weight: $weight-400;
  margin-top: $dist-xs;
  margin-bottom: $dist-xxs;
}

p,
article ul,
article ol {
  margin-top: unset;
  margin-bottom: $dist-lg;
}

p,
li,
figcaption,
blockquote {
  max-width: $width-chars;
}

p + ul,
p + ol {
  margin-top: -$dist-md;
}

a {
  color: $theme800;
}

a:hover {
  color: $theme900;
}

article footer:has(.references),
.references {
  max-width: $width-chars * 1.18;
}

.references div,
.references span {
  margin-bottom: $dist-xs;
}

.references a {
  color: $grey600;
}

article header h4,
aside h4,
.posts h4 {
  font-size: $text-sm;
  font-weight: $weight-400;
  color: $theme800;
  margin-top: unset;
  margin-bottom: unset;
}

.posts h4 {
  font-size: $text-md;
}

aside a,
.posts a {
  text-decoration: none;
}

aside article,
.posts article {
  transition: 0.1s;
}

aside article:hover,
.posts article:hover {
  transition: 0.1s;
}

aside article:hover h4,
.posts article:hover h4 {
  color: $theme900;
}

aside article:hover .meta,
.posts article:hover .meta {
  color: $grey600;
}

article header h4 a,
nav ul li a,
.posts h4 a,
aside h4 a,
h1 a,
h2 a {
  text-decoration: none;
}

article header h4 a:hover,
nav ul li a:hover {
  text-decoration: underline;
}

blockquote {
  font-size: $text-md;
  padding-left: $dist-md;
  border-left: $line-md solid $grey200;
}

blockquote cite {
  font-style: italic;
}

blockquote p {
  color: $theme800;
  max-width: $width-chars / 1.2;
}

blockquote footer,
article footer {
  background: unset;
  margin-top: unset;
  margin-bottom: $dist-md;
  padding-top: unset;
  padding-bottom: unset;
  word-wrap: anywhere;
}

article footer {
  font-size: $text-xs;
  color: $grey500;
}

.discreet,
figcaption,
p small,
blockquote footer,
article .meta {
  color: $grey500;
  font-size: $text-xs;
}

p:has(small) {
  line-height: $leading-sm;
}

.discreet a {
  color: $theme800;
}

.discreet a:hover {
  color: $theme900;
}

article ul,
article ol {
  padding-left: $dist-md + $dist-xxs;
}

article ul {
  list-style: none;
}

article ul li {
  margin-bottom: $dist-xxs;
}

article ul li::before {
  content: "●";
  font-size: 0.5em;
  color: $theme600;
  display: inline-block;
  width: 1.5em;
  margin-left: -2em;
  margin-top: -$dist-xxs;
  margin-right: $dist-xxs;
  vertical-align: middle;
}

article ol {
  list-style: none;
  counter-reset: li;
}

article ol li::before {
  content: counter(li);
  color: $theme600;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

article ol li {
  counter-increment: li;
}

span.badge {
  margin-top: -$dist-sm;
  display: inline-block;
  padding: $dist-xs $dist-xs $dist-xxxs $dist-xs;
  background: $grey500;
  border-radius: $rad-sm;
  color: $grey100;
  font-weight: $weight-500;
  margin-left: $dist-xs;
  font-size: $text-sm;
}

.single header {
  margin-top: $dist-md;
  margin-bottom: $dist-xl;
}

/* navigation */

nav {
  border-bottom: $line-sm solid $theme300;
  background: $theme100;
  position: relative;
  z-index: 2;
}

nav div,
nav ul {
  display: inline-flex;
  width: 100%;
}

nav ul {
  align-items: center;
}

nav ul li {
  list-style: none;
  display: block;
  //flex-grow: 1;
}

nav ul li a {
  padding: $dist-sm $dist-md;
  display: inline-block;
  border-top: $line-md solid transparent;
  margin-top: -$line-md;
}

nav ul li.active a {
  font-weight: $weight-500;
  color: $theme900;
  transition: 0.1s ease-in-out;
  background: $brightest;
  border-top: $line-md solid $theme800;
  margin-top: -$line-md;
}

nav ul li a:hover {
  color: $theme900;
  transition: 0.1s ease-in-out;
  border-color: $theme300;
}

nav ul li:hover a {
  color: $theme900;
  text-decoration: none;
  border-color: $theme300;
}

/* search */

.ais-search-box {
  width: 100%;
}

.hits-list {
  padding: $dist-xxs;
  border-radius: $rad-lg;
  -webkit-backdrop-filter: blur($dist-xxs);
  backdrop-filter: blur($dist-xxs);
  background: rgba($theme100, 0.7);
  background: 
    linear-gradient(-30deg, rgba($theme100, 0.7) 0%, rgba($theme100, 0.94) 100%),
    linear-gradient(0deg, rgba($brightest, 0.01) 80%, rgba($brightest, 0.4) 100%),
    linear-gradient(170deg, rgba($brightest, 0.01) 50%, rgba($brightest, 1) 70%, rgba($brightest, 0.01) 90%);
}

.hits-list:has(.ais-hits__empty) {
  width: 100%;
  border-radius: $rad-lg;
  background: rgba($orange100, 0.7);
}

.ais-hits__empty {
  color: $orange900;
}

section.search-hits {
  width: calc(100% - 2rem);
  border-radius: $rad-lg;
  display: flex;
  //overflow: hidden;
  margin-top: -$dist-lg;
  box-shadow: $shadow-4;
  margin-left: $dist-md;
  margin-right: $dist-md;
  max-width: 30rem;
}

.ais-Highlight {
  background: yellow;
  font-style: initial;
  color: $grey900;
  -webkit-text-fill-color: $grey900;
}

article.hit .mask + a.post-link {
  margin-top: -6.4rem - $dist-md - $dist-md;
}

article.hit,
.ais-hits__empty {
  //height: 6.4rem;
  overflow: hidden;
  border-radius: $rad-md;
  //background: $theme100;
  border: $line-md solid transparent;
  transition: 0.2s ease-in-out;
  padding: $dist-sm;
}

article.hit:hover {
  border-color: $theme200;
  background: $brightest;
  transition: 0.2s ease-in-out;
}

article.hit .mask {
  height: calc( 100% + 2rem );
  display: block;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba($theme100,0) 60%, rgba($theme100,0.6) 80%, rgba($theme100,1) 97%);
  position: relative;
  z-index: 2;
  pointer-events: none;
}

article.hit:hover .mask {
  background: linear-gradient(180deg, rgba($brightest,0) 60%, rgba($brightest,0.1) 80%, rgba($brightest,1) 97%);
}

article.hit a.post-link {
  display: block;
}

article.hit h3 {
  margin-top: unset;
  font-size: $text-sm;
}

article.hit p {
  font-size: $text-xs;
}

article.hit a h3 {
  margin-bottom: unset;
  padding-bottom: 0.5rem;
  color: $theme800;
}

article.hit:hover a h3 {
  color: $theme900;
}

article.hit a {
  text-decoration: none;
}

article.hit p a {
  color: initial;
}

article.hit a p,
article.hit p {
  margin-top: unset;
  margin-bottom: unset;
  padding-top: unset;
  color: $grey500;
  background: -webkit-linear-gradient($grey500 30%, transparent 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

article.hit:hover a p,
article.hit:hover p {
  color: $grey700;
}

article.hit a p {
  padding-bottom: $dist-md;
}

article.hit a p.superficial,
article.hit a p:empty {
  padding-bottom: unset;
  display: none;
}

.hits-list.hide-hits {
  display: none;
}
.hits-list.show-hits {
  display: block;
}
.post-snippet .ais-Highlight,
.post-breadcrumb .ais-Highlight {
  color: initial !important;
  font-weight: initial !important;
}
.ais-search-box--magnifier-wrapper,
.ais-search-box--reset-wrapper {
  display: none !important;
}

/* structure */

.container.main {
  margin-top: $dist-xxl;
}

header {
  margin-top: $dist-lg;
}

main {
  margin-bottom: $dist-xxl;
}

footer {
  margin-top: $dist-xxl;
  padding-top: $dist-xxl;
  padding-bottom: $dist-xxl;
  background: $theme800;
  width: $width-full;
  color: $theme500;

  p {
    margin-top: $dist-lg;
  }
  
  .discreet {
    color: $theme500;
  }
  
  .discreet a {
    color: $theme300;
  }
  
  .discreet a:hover {
    color: $theme200;
  }
}

/* ui elements */

hr {
  margin-top: $dist-xl;
  border: none;
  border-top: $line-sm solid $grey200;
}

svg.svg-inline--fa {
  margin-right: $dist-xxs;
  fill: $grey600;
  vertical-align: -0.1em;
}

article p svg.svg-inline--fa {
  margin-right: unset;
}

.warning {
  background: $orange100;
  color: $orange900;
  padding: $dist-xs $dist-sm;
  border-top: $line-sm solid $orange500;
  border-bottom: $line-sm solid $orange500;
  margin-top: $dist-lg;
}

.warning {
  span {
    font-weight: $weight-500;
  }
  p {
    margin-bottom: unset;
  }
}

input::placeholder {
  color: $blue600;
}

input:focus::placeholder {
  color: $blue400;
}

input:focus {
  background: $brightest;
}

input {
  padding: $dist-xs $dist-sm;
  font-size: $text-sm;
  color: $blue900;
  border: unset;
  line-height: $leading-md;
  border-radius: unset;
  background: unset;
}

input.search {
  border-top: $line-sm solid $theme300;
  border-bottom: $line-sm solid $theme300;
  margin-bottom: -0.75pt;
  width: calc(100% - 1.5rem);
  padding: $dist-sm $dist-md;
}

aside,
.posts {
    margin-top: $dist-xxl;

  article {
    border-bottom: $line-sm solid $theme300;
    border-radius: $rad-xs;
    padding: $dist-xs 0;

    :first-of-type {
      padding-top: unset;
    }
    :first-of-type header {
      margin-top: unset;
    }
    :last-of-type {
      border-bottom: unset;
    }
    header {
      margin-top: $dist-xxs;
    }
  }

  .about,
  .sponsors {
    margin-top: $dist-xxl;
    padding-bottom: $dist-xs;
  }
}

img,
iframe {
  border-radius: $rad-xs;
  box-shadow: $shadow-1;
  max-width: 100%;
  height: auto;
}

img.noshade {
  box-shadow: unset;
}

img.small,
figure.inline {
  max-width: 100%;
}

iframe {
  aspect-ratio: 16/9;
}

img.logo {
  border-radius: unset;
  box-shadow: unset;
}

img.screenshot {
  border-radius: $rad-lg;
}

article figure {
  margin-top: $dist-xxl;
  margin-bottom: $dist-xxl;
}

figure {
  margin-bottom: $dist-md;
}

article h3 + figure,
article h4 + figure {
  margin-top: $dist-md;
}

article h5 + figure,
article h5 + .row figure {
  margin-top: unset;
}

a.home-logo,
nav ul {
  align-self: center;
}

nav.row > div {
  padding-left: 0;
  padding-right: 0;
}

.logo.large {
  display: none;
}

.logo#nuxi {
  max-width: 61px;
  margin-right: $dist-sm;
}

.logo.small#nuxi {
  max-width: 16px;
  margin-top: $dist-sm;
  margin-bottom: $dist-lg;
}

.logo#emplution {
  max-width: 10rem;
}

.logo#polimi {
  max-width: 12rem;
}

.logo:hover {
  filter: brightness(90%);
}

.sponsors img.logo {
  display: block;
  margin-top: $dist-md;
}

.sponsors p {
  margin-top: $dist-md;
}

.posts {
  margin-top: $dist-xl;
  margin-bottom: $dist-xxl;

  article {
    margin-bottom: $dist-xxxl;

    &:last-of-type {
      margin-bottom: unset;
    }

    p.excerpt {
      text-overflow: ellipsis;
      overflow: hidden;
      margin-top: $dist-md;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      background-image: linear-gradient(to bottom, $grey700, transparent);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

.people {
  display: flex;
}

.publication article {
  counter-reset: figure;
}

.publication article figure figcaption::before {
  counter-increment: figure;
  content: "Figure " counter(figure) ": ";
}

.publication .row.imgs.counter {
  counter-reset: imgs;
}

.publication .row.imgs.counter figure::before {
  counter-increment: imgs;
  content: "№" counter(imgs);
  float: left;
  padding: $dist-xxs $dist-sm;
  background: rgba(0,20,50,0.66);
  color: $theme400;
  font-weight: $weight-500;
  font-size: $dist-md;
  position: absolute;
  margin-left: $dist-md;
  margin-top: $dist-md;
  border-radius: $dist-xxl;
  -webkit-backdrop-filter: blur($dist-xxs);
  backdrop-filter: blur($dist-xxs);
}

.contained {
  background: $background;
  background: darken($background, 2%);
  padding: $dist-md;
}

.contained div {
  margin-bottom: $dist-md;
}

.contained div:last-of-type {
  margin-bottom: unset;
}

/* responsive */

@media only screen and (min-width: $content-small) {
  
  .container {
    max-width: 92vw;
  }
  
  .container.nav {
    max-width: 96vw;
  }
  
  @media (orientation: landscape) and (hover: none) and (pointer: coarse) {
    .container {
      max-width: 84vw;
    }
    
    .container.nav {
      max-width: 88vw !important;
    }
  }
  
  body > .gradient {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 
    radial-gradient(at 10em 10em, rgba(desaturate($theme800, 1), 0.1) 0%, rgba($background, 0) 25%, rgba($background, 0) 100%);
    background-size: 100% 200%;
    background-repeat: no-repeat;
    pointer-events: none;
  }
  
  body > .gradient.bottom {
    position: absolute;
    background: radial-gradient(red 0%, blue 25%, yellow 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  .logo.large {
    display: inline-flex;
  }

  .logo.small {
    display: none;
  }

  .header {
    display: inline-flex;
    //margin-bottom: $dist-lg;
  }
  
  .container.nav {
    padding-top: $dist-xxl;
    padding-bottom: unset;
    position: sticky;
    z-index: 1;
    top: 0;
    -webkit-backdrop-filter: blur($dist-sm);
    backdrop-filter: blur($dist-sm);
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba($background,0.8) 0%, rgba($background,0.5) 50%, rgba($background,0.3) 80%, rgba($background,0) 100%);
  }
  
  nav {
    background: rgba($theme100, 0.7);
    background: 
      linear-gradient(-30deg, rgba($theme100, 0.7) 0%, rgba($theme100, 0.94) 100%),
      linear-gradient(0deg, rgba($brightest, 0.01) 80%, rgba($brightest, 0.4) 100%),
      linear-gradient(170deg, rgba($brightest, 0.01) 50%, rgba($brightest, 1) 70%, rgba($brightest, 0.01) 90%);
    box-shadow: $shadow-4;
  }

  nav.row {
    border-radius: $rad-lg;
  }

  nav.row > div {
    padding-left: $dist-md;
    padding-right: $dist-md;
  }

  nav div,
  nav ul {
    width: auto;
  }

  nav ul {
    margin-left: -$dist-md;
  }

  nav ul li {
    margin-right: $dist-md;
  }
  
  nav ul li a {
    padding: $dist-xs $dist-md;
    margin: -$line-md;
    border: $line-md solid rgba($theme200, 0);
    border-radius: $rad-lg;
  }

  nav ul li a:hover,
  input.search:hover {
    background: $brightest;
    border-color: $theme200;
  }

  nav ul li.active a,
  nav ul li.active a:hover {
    border-color: $theme800;
    //background: $brightest;
  }
  
  .ais-search-box {
    //width: calc(100% - $line-sm);
  }
  
  section.search-hits {
    position: fixed;
    z-index: 1;
    margin-top: -$dist-md;
    margin-left: unset;
    margin-right: unset;
    max-width: calc(92vw - 0.666 * 92vw + 0.75rem);
    right: calc((100% - 92vw) / 2 - 2vw);
  }
  
  input.search {
    border-left: $line-sm solid $theme300;
    padding: $dist-xs $dist-md;
    border-top: unset;
    border-bottom: unset;
    margin-bottom: unset;
    line-height: unset;
    // border-top-right-radius: $rad-lg;
    // border-bottom-right-radius: $rad-lg;
    border-radius: $rad-lg;
    transition: 0.1s;
  }

  .warning {
    border-radius: $rad-md;
    border: $line-sm solid $orange500;
  }

  .contained {
    justify-content: space-evenly;
    padding: unset !important;
  }

  .contained div {
    margin-bottom: unset;
    text-align: center;
    padding-top: $dist-md;
    padding-bottom: $dist-md;
  }

  .contained img {
    max-height: 60vh;
    width: auto;
  }

  .contained figcaption,
  .contained + figcaption {
    margin-top: $dist-xxs;
  }

  .row.imgs {
    margin-left: -$dist-md;
    margin-right: -$dist-md;
  }

  img.small,
  figure.inline {
    max-width: $width-chars;
  }
  
  figure [class^=col] {
    padding-right: $dist-md;
    padding-left: $dist-md;
  }
  
  aside a.post,
  .posts a {
    display: block;
    border-bottom: 1pt solid $theme300; 
  }
  
  aside article,
  .posts article {
    transition: 0.1s;
    margin: $dist-sm -$dist-sm 0 -$dist-sm;
    padding: $dist-sm;
    border-radius: $rad-md;
    border-bottom: unset
  }
  
  .posts article {
    margin-top: $dist-xl !important;
    margin-bottom: $dist-xl !important;
  }
  
  aside article:first-of-type,
  .posts article:first-of-type {
    margin-top: unset;
  }
  
  aside article:hover,
  .posts article:hover {
    background: $theme100;
  }
}

@media only screen and (min-width: $content-medium) {
  
  .container {
    max-width: 80%;
  }
  
  h1 {
    font-size: $text-lg;
  }
  
  .single p,
  .single h3,
  .single h4,
  .single h5,
  .single header,
  .single blockquote,
  .single ul,
  .single ol,
  .single footer {
    margin-left: 8.333%;
  }

  p,
  li,
  figcaption,
  blockquote {
    max-width: calc(80vw - 4rem - 16.667%);
  }

  .single blockquote p,
  .single blockquote footer,
  .single footer h3,
  .single footer h4,
  .single footer h5 {
    margin-left: unset;
  }

  .single > figure figcaption {
    padding-left: 8.333%;
  }

  .float-right {
    float: right;
  }

  aside {
    margin-top: unset;
    border-left: $line-sm solid $theme300;
  }
  
  aside article,
  .posts article {
    margin: $dist-md -$dist-md 0 -$dist-md;
    padding: $dist-md;
    border-radius: $rad-md;
  }

  // nav.row {
  //   margin-left: $dist-md;
  //   margin-right: $dist-md;
  // }

  nav.row > div {
    padding-left: $dist-md;
    padding-right: $dist-md;
  }

  nav ul {
    margin-left: -$dist-md;
  }

  nav ul li a {
    padding: $dist-xs $dist-md;
  }

  input.search {
    padding: $dist-xs $dist-md $dist-xs $dist-xxl;
  }
  
  section.search-hits {
    max-width: 96vw - 0.666 * 96vw;
    right: calc((100% - 96vw) / 2);
  }
  
  .hits-list {
    padding: $dist-md;
  }
  
  article.hit {
    padding: $dist-md;
  }

  .row.imgs {
    margin-left: -$dist-md;
    margin-right: -$dist-md;
  }

  .row.imgs figure {
    padding-left: $dist-md;
    padding-right: $dist-md;
  }

  .contained img {
    max-height: 65vh;
  }

  img.small {
    margin-left: 8.333%;
  }

  figure.inline {
    max-width: 40%;
    float: left;
    padding-right: $dist-xl + $dist-xl;
  }

  figure.inline.right {
    float: right;
    padding-left: $dist-xl + $dist-xl;
    padding-right: unset;
  }

  .single > figure.inline figcaption {
    padding-left: unset;
  }
}

@media only screen and (min-width: $content-large) {
  
  .container {
    max-width: 80vw;
  }

  .single p,
  .single h3,
  .single h4,
  .single h5,
  .single header,
  .single blockquote,
  .single ul,
  .single ol,
  .single footer {
    margin-left: 16.667%;
  }

  p, li, figcaption, blockquote {
    max-width: $width-chars;
  }

  .single > figure figcaption {
    padding-left: 16.667%;
  }

  img.small {
    margin-left: 16.667%;
  }

  .contained img {
    max-height: 70vh;
  }
  
  .container.header {
    max-width: 80vw;
  }
  
  .container.nav {
    max-width: 80vw;
  }
  
  .container.nav {
    -webkit-backdrop-filter: blur($dist-lg);
    backdrop-filter: blur($dist-lg);
  }
  
  input.search {
    padding: $dist-xs $dist-md $dist-xs $dist-xxxl;
  }
  
  section.search-hits {
    max-width: calc(80vw - 0.666 * 80vw - 4rem);
    right: calc((100% - 80vw) / 2);
    margin-left: $dist-xxl;
    margin-right: $dist-xxl;
  }
}

@media only screen and (min-width: $content-extra) {
  .container {
    max-width: 80rem;
  }
  
  .single p,
  .single h3,
  .single h4,
  .single h5,
  .single header,
  .single blockquote,
  .single ul,
  .single ol,
  .single footer {
    margin-left: 22%;
  }

  .single > figure figcaption {
    padding-left: 22%;
  }

  img.small {
    margin-left: 22%;
  }
  
  section.search-hits {
    max-width: calc(80rem - 0.666 * 80rem - 4rem);
    right: calc((100% - 80rem) / 2);
    margin-left: $dist-xxl;
    margin-right: $dist-xxl;
  }
  .container.header {
    max-width: 80rem;
  }
  
  .container.nav {
    max-width: 80rem;
  }
}