/* resets */

html, 
body {
	margin: 0;
	padding: 0;
	font-family: var(--font-primary);
	font-weight: var(--weight-400);
	font-size: var(--text-sm);
	line-height: var(--leading-md);
	font-smooth: auto;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	color: var(--grey900);
	font-display: swap;
}

body {
	margin-top: var(--dist-xxl);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

* {
	margin-block-start: unset;
	margin-block-end: unset;
	margin-inline-start: unset;
	margin-inline-end: unset;
	padding-inline-start: unset;
	transition: var(--time-sm) ease-in-out;
}

*:hover {
	transition: var(--time-sm) ease-in-out;
}

/* typography */

h1 {
	font-size: var(--text-lg);
	font-weight: var(--weight-300);
	color: var(--blue800);
	line-height: var(--leading-sm);
}

h2 {
	font-size: var(--text-md);
	font-weight: var(--weight-400);
	color: var(--blue700);
	margin-bottom: var(--dist-xs);
}

h3:first-of-type {
	margin-bottom: var(--dist-md);
}

h3,
h4 {
	font-size: var(--text-md);
	font-weight: var(--weight-400);
	margin-top: var(--dist-lg);
	margin-bottom: var(--dist-xxs);
}

h4,
h5 {
	color: var(--grey600);
}

h5 {
	font-size: var(--text-sm);
	font-weight: var(--weight-400);
	margin-top: var(--dist-xs);
	margin-bottom: var(--dist-xxs);
}

p,
article ul,
article ol {
	margin-top: unset;
	margin-bottom: var(--dist-md);
}

p,
li,
figcaption,
blockquote {
	max-width: var(--width-chars);
}

a {
	color: var(--blue800);
}

a:hover {
	color: var(--blue900);
}

.references {
	max-width: calc(var(--width-chars) * 1.18);
}

.references div,
.references span {
	margin-bottom: var(--dist-xs);
}

.references a {
	color: var(--grey600);
}

article header h4 {
	font-size: var(--text-sm);
	font-weight: var(--weight-400);
	margin-top: unset;
	margin-bottom: unset;
}

article header h4 a,
nav ul li a,
h1 a,
h2 a {
	text-decoration: none;
}

article header h4 a:hover,
nav ul li a:hover {
	text-decoration: underline;
}

blockquote {
	font-size: var(--text-md);
	padding-left: var(--dist-md);
	border-left: var(--line-md) solid var(--grey200);
}

blockquote cite {
	font-style: italic;
}

blockquote p {
	color: var(--blue800);
	max-width: calc(var(--width-chars) / 1.2);
}

blockquote footer,
article footer {
	background: unset;
	margin-top: unset;
	margin-bottom: var(--dist-md);
	padding-top: unset;
	padding-bottom: unset;
	word-wrap: anywhere;
}

article footer {
	font-size: var(--text-xs);
	color: var(--grey500);
}

.discreet, 
figcaption, 
p small, 
blockquote footer, 
article .meta {
	color: var(--grey500);
	font-size: var(--text-xs);
}

p:has(small) {
	line-height: var(--leading-sm);
}

.discreet a {
	color: var(--blue800);
}

.discreet a:hover {
	color: var(--blue900);
}

article ul,
article ol {
	padding-left: calc(var(--dist-md) + var(--dist-xxs));
}

article ul {
	list-style: none;
}

article ul li {
	margin-bottom: var(--dist-xxs);
}

article ul li::before {
	content: "●"; 
	font-size: 0.5em;
	color: var(--blue600);
	display: inline-block; 
	width: 1.5em;
	margin-left: -2em;
	margin-top: -0.25em;
	margin-right: 0.25em;
	h5-align: middle;
}

article ol {
	list-style: none; 
	counter-reset: li;
}

article ol li::before {
	content: counter(li); 
	color: var(--blue600);
	display: inline-block; 
	width: 1em;
	margin-left: -1.5em;
	margin-right: 0.5em; 
	text-align: right; 
	direction: rtl;
}

article ol li {
	counter-increment: li;
}

span.badge {
	padding: var(--dist-xxs) var(--dist-xs);
	background: var(--grey500);
	border-radius: var(--rad-sm);
	color: var(--grey100);
	font-weight: var(--weight-500);
	margin-left: var(--dist-xs);
	font-size: var(--text-sm);
}

.single header {
	margin-top: var(--dist-md);
	margin-bottom: var(--dist-xl);
}

/* navigation */

nav {
	margin-top: var(--dist-sm);
	margin-bottom: var(--dist-xxl);
	width: var(--width-full);
	border-bottom: var(--line-sm) solid var(--blue300);
	background: var(--blue100);
}

nav div,
nav ul {
	display: inline-flex;
	width: 100%;
}

nav ul li {
	list-style: none;
	display: block;
	flex-grow: 1;
}

nav ul li a {
	padding: var(--dist-sm) var(--dist-md);
	display: inline-block;
}

nav ul li.active a {
	font-weight: var(--weight-500);
	color: var(--blue900);
}

nav ul li:hover {
	background: var(--blue200);
	border-radius: var(--rad-md);
}

nav ul li:hover a {
	color: var(--blue900);
	text-decoration: none;
}

/* structure */

header {
	margin-top: var(--dist-lg);
}

main {
	margin-bottom: var(--dist-xxl);
}

footer {
	margin-top: var(--dist-xxl);
	padding-top: var(--dist-xxl);
	padding-bottom: var(--dist-xxl);
	background: var(--blue100);
	width: var(--width-full);
	color: var(--grey700);
}

footer p {
	margin-top: var(--dist-lg);
}

/* ui elements */

hr {
	margin-top: var(--dist-xl);
	border: none;
	border-top: var(--line-sm) solid var(--grey200);
}

svg.svg-inline--fa {
	margin-right: var(--dist-xxs);
	fill: var(--grey600);
	vertical-align: -0.1em;
}

article p svg.svg-inline--fa {
	margin-right: unset;
}

.warning {
	background: var(--orange100);
	color: var(--orange900);
	padding: var(--dist-xs) var(--dist-sm);
	border-top: var(--line-sm) solid var(--orange500);
	border-bottom: var(--line-sm) solid var(--orange500);
	margin-top: var(--dist-lg);
}

.warning span {
	font-weight: var(--weight-500);
}

.warning p {
	margin-bottom: unset;
}

input {
	padding: var(--dist-xs) var(--dist-sm);
	font-size: var(--text-sm);
	color: var(--grey600);
	border: unset;
	border-top: var(--line-sm) solid var(--blue300);
	border-bottom: var(--line-sm) solid var(--blue300);
	line-height: var(--leading-md);
	margin-bottom: -0.75pt;
	width: calc(100% - 1.5rem);
	border-radius: unset;
	background: unset;
}

aside {
	margin-top: var(--dist-xxl);
}

aside article {
	border-bottom: var(--line-sm) solid var(--blue300);
	border-radius: var(--rad-xs);
	padding: var(--dist-xs) 0;
}

aside article:first-of-type {
	padding-top: unset;
}

aside article:first-of-type header {
	margin-top: unset;
}

aside article:last-of-type {
	border-bottom: unset;
}

aside article header {
	margin-top: var(--dist-xxs);
}

aside .about,
aside .sponsors {
	margin-top: var(--dist-xxl);
	padding-bottom: var(--dist-xs);
}

img,
iframe {
	border-radius: var(--rad-xs);
	box-shadow: var(--shadow-0), var(--shadow-1);
	max-width: 100%;
	height: auto;
}

img.noshade {
	box-shadow: unset;
}

img.small,
figure.inline {
	max-width: 100%;
}

iframe {
	aspect-ratio: 16/9;
}

img.logo {
	border-radius: unset;
	box-shadow: unset;
}

img.screenshot {
	border-radius: var(--rad-lg);
}

article figure {
	margin-top: var(--dist-xxl);
	margin-bottom: var(--dist-xxl);
}

figure {
	margin-bottom: var(--dist-md);
}

article h3 + figure,
article h4 + figure {
	margin-top: var(--dist-md);
}

article h5 + figure,
article h5 + .row figure {
	margin-top: unset;
}

a.home-logo,
nav ul {
	align-self: center;
}

.logo.large {
	display: none;
}

.logo#nuxi {
	max-width: 61px;
	margin-right: var(--dist-sm);
}

.logo.small#nuxi {
	max-width: 16px;
	margin-top: var(--dist-sm);
	margin-bottom: var(--dist-lg); 
}

.logo#emplution {
	max-width: 10rem;
}

.logo#polimi {
	max-width: 12rem;
}

.logo:hover {
	filter: brightness(90%);
}

.sponsors img.logo {
	display: block;
	margin-top: var(--dist-md);
}

.sponsors p {
	margin-top: var(--dist-md);
}

.posts {
	margin-top: var(--dist-xxxl);
	margin-bottom: var(--dist-xxl);
}

.posts article {
	margin-bottom: var(--dist-xxxl);
}

.posts article:last-of-type {
	margin-bottom: unset;
}

.posts article img {
	
}

.posts article p.excerpt {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	background-image: linear-gradient(to bottom, var(--grey900), var(--grey200));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.people {
	display: flex;
}

.publication article {
	counter-reset: figure;
}

.publication article figure figcaption::before {
	counter-increment: figure;
	content: "Figure " counter(figure) ": ";	
}

.publication .row.imgs.counter {
	counter-reset: imgs;
}

.publication .row.imgs.counter figure::before {
	counter-increment: imgs;
	content: "№" counter(imgs);
	float: left;
	padding: var(--dist-xxs) var(--dist-sm);
	background: rgba(0,20,50,0.66);
	color: var(--blue400);
	font-weight: var(--weight-500);
	font-size: var(--dist-md);
	position: absolute;
	margin-left: var(--dist-md);
	margin-top: var(--dist-md);
	border-radius: var(--dist-xxl);
	-webkit-backdrop-filter: blur(var(--dist-xxs));
	backdrop-filter: blur(var(--dist-xxs));
}

.vertical {
	background: var(--grey100);
	padding: var(--dist-md);
}

.vertical div {
	margin-bottom: var(--dist-md);
}

.vertical div:last-of-type {
	margin-bottom: unset;
}

/* responsive */

@media only screen and (min-width: 40em) {
	
	.logo.large {
		display: inline-flex;
	}
	
	.logo.small {
		display: none;
	}
	
	.header {
		display: inline-flex;
		margin-bottom: var(--dist-lg);
	}
	
	nav.row {
		border-radius: var(--rad-md);
	}
	
	nav div,
	nav ul {
		width: auto;
	}
	
	nav ul {
		margin-left: -1rem;
	}
	
	nav ul li a {
		padding: var(--dist-xs) 1rem;
	}
	
	input {
		padding: var(--dist-xs) 1rem;
		border: unset;
		border-left: var(--line-sm) solid var(--blue300);
		border-bottom: var(--line-sm) solid var(--blue300);
		margin-left: -1rem;
		width: calc(100% - 1rem - var(--line-sm));
	}
	
	.warning {
		border-radius: var(--rad-md);
		border: var(--line-sm) solid var(--orange500);
	}
	
	.vertical {
		justify-content: space-evenly;
		padding: unset !important;
	}
	
	.vertical div {
		text-align: center;
		padding-top: var(--dist-md);
		padding-bottom: var(--dist-md);
	}
	
	.vertical img {
		max-height: 60vh;
		width: auto;
	}
	
	.vertical figcaption {
		margin-top: var(--dist-xxs);
	}
	
	.row.imgs {
		margin-left: -1rem;
		margin-right: -1rem;
	}
	
	img.small,
	figure.inline {
		max-width: var(--width-chars);
	}
}

@media only screen and (min-width: 62em) {
	
	.single p,
	.single h3,
	.single h4,
	.single h5,
	.single header,
	.single blockquote,
	.single ul,
	.single ol,
	.single footer {
		margin-left: 16.667%;
	}
	
	.single blockquote p,
	.single blockquote footer,
	.single footer h3,
	.single footer h4,
	.single footer h5 {
		margin-left: unset;
	}
	
	.single > figure figcaption {
		padding-left: 16.667%;
	}
	
	.float-right {
		float: right;
	}
	
	aside {
		margin-top: unset;
		border-left: var(--line-sm) solid var(--blue300);
	}
	
	.vertical img {
		max-height: 65vh;
	}
	
	img.small {
		margin-left: 16.667%;
	}
	
	figure.inline {
		max-width: 40%;
		float: left;
		padding-right: calc(var(--dist-xl) + var(--dist-xl));
	}
	
	figure.inline.right {
		float: right;
		padding-left: calc(var(--dist-xl) + var(--dist-xl));
		padding-right: unset;
	}
	
	.single > figure.inline figcaption {
		padding-left: unset;
	}
}

@media only screen and (min-width: 75em) {
	
	.vertical img {
		max-height: 70vh;
	}
	
}

@media only screen and (min-width: 100em) {
	.single p,
	.single h3,
	.single h4,
	.single h5,
	.single header,
	.single blockquote,
	.single ul,
	.single ol,
	.single footer {
		margin-left: 22%;
	}
	
	.single > figure figcaption {
		padding-left: 22%;
	}
	
	img.small {
		margin-left: 22%;
	}
}