/* resets */

html, body {
	margin: 0;
	padding: 0;
	font-family: var(--font-primary);
	font-weight: var(--weight-400);
	font-size: var(--text-sm);
	line-height: var(--leading-md);
	font-smooth: auto;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	color: var(--grey900);
	font-display: swap;
}

body {
	margin-top: var(--dist-xxl);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

* {
	margin-block-start: unset;
	margin-block-end: unset;
	margin-inline-start: unset;
	margin-inline-end: unset;
	padding-inline-start: unset;
	transition: var(--time-sm) ease-in-out;
}

*:hover {
	transition: var(--time-sm) ease-in-out;
}

/* typography */

h1 {
	font-size: var(--text-lg);
	font-weight: var(--weight-200);
	color: var(--blue600);
	line-height: var(--leading-sm);
}

h2 {
	font-size: var(--text-md);
	margin-bottom: var(--dist-lg);
	color: var(--blue500);
	font-weight: var(--weight-400);
}

h3 {
	margin-bottom: var(--dist-md);
}

h3, h4 {
	font-size: var(--text-md);
	font-weight: var(--weight-400);
}

h4 {
	margin-bottom: var(--dist-xxs);
	margin-top: var(--dist-lg);
}

h5 {
	font-size: var(--text-sm);
	font-weight: var(--weight-500);
	margin-top: var(--dist-sm);
	margin-bottom: var(--dist-xxs);
}

p {
	margin-top: unset;
	margin-bottom: var(--dist-sm);
	max-width: var(--width-chars);
}

a {
	color: var(--blue400);
}

a:hover {
	color: var(--blue600);
}

figcaption, .discreet {
	color: var(--grey700);
	font-size: var(--text-xs);
}

.discreet a {
	color: var(--blue600);
}

.discreet a:hover {
	color: var(--blue700);
}

article header h4 a {
	font-size: var(--text-sm);
	font-weight: var(--weight-500);
	margin-top: var(--dist-sm);
	margin-bottom: var(--dist-xxs);
	color: var(--grey700);
}

article header h4 a:hover {
	color: var(--blue600);
}

article header .meta {
	color: var(--grey600);
	font-size: var(--text-xs);
}

/* navigation */

nav {
	margin-top: var(--dist-sm);
	margin-bottom: var(--dist-xxl);
}

nav ul {
	display: inline-flex;
	width: var(--width-full);
	border-bottom: var(--line-sm) solid var(--grey300);
}

nav ul li {
	list-style: none;
	display: block;
	padding: var(--dist-xs) var(--dist-sm);
	color: var(--blue500);
}

nav ul li.active {
	font-weight: var(--weight-500);
	color: var(--blue900);
}

nav ul li:hover {
	color: var(--blue900);
}

nav ul li:first-of-type {
	padding-left: unset;
}

/* structure */

header {
	margin-top: var(--dist-lg);
}

main {
	margin-bottom: var(--dist-xxl);
}

footer {
	margin-top: var(--dist-xxl);
	padding-top: var(--dist-xxl);
	padding-bottom: var(--dist-xxl);
	background: var(--blue50);
	width: var(--width-full);
	color: var(--grey700);
}

footer p {
	margin-top: var(--dist-lg);
}

/* ui elements */

img {
	border-radius: var(--rad-xs);
	box-shadow: var(--shadow-0), var(--shadow-1);
	max-width: 100%;
	height: auto;
}

figure {
	margin-bottom: var(--dist-md);
}

/* responsive */

@media only screen and (min-width: 40em) {
}

@media only screen and (min-width: 62em) {
	.float-right {
		float: right;
	}
}

@media only screen and (min-width: 75em) {
}